body {
  margin: 0;
  padding: 0;
  background-color: orange;
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.stopwatch {
  background-color: rgb(253, 174, 26);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#display {
  font-size: 48px;
  margin-bottom: 20px;
  color: #fff;
}

button {
  background-color: grey;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 15px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  text-align: left;
}

li {
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
}
